<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App Project</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <header>
        <h1>Web App Project</h1>
        <nav>
            <ul>
                <li><a href="../pages/home.html">Home</a></li>
                <li><a href="../pages/photoCapture.html">Photo Capture</a></li>
                <li><a href="../pages/processing.html">Processing</a></li>
                <li><a href="../pages/final.html">Final</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>